
@{
    ViewData["Title"] = "Error500";
}
<link rel="stylesheet" href="~/css/errorpages.css" />
<div class="card">
    <img src="~/images/luca-bravo-177552-unsplash.jpg" alt="Avatar" style="width:100%">
    <div class="container">
        <h2 style="font-size:3vw;">Error 500</h2>
        <h2 style="font-size:1vw;">Oops... Something bad happened. :)</h2>
    </div>
</div>