
@{
    ViewData["Title"] = "Error404";
}
<link rel="stylesheet" href="~/css/errorpages.css"/>
<div class="card">
    <img src="~/images/matthew-meijer-39262-unsplash.jpg" alt="Avatar" style="width:100%">
    <div class="container">
        <h2 style="font-size:3vw;">Error 404</h2>
        <h2 style="font-size:1vw;">Nothing wrong here, there is a beautiful photo :)</h2>
    </div>
</div>


